@model AMassage.Models.Massage

@{
    Layout = "_Layout";
    ViewBag.Title = "Редактирование услуги";
}

<h1>Редактирование услуги массажа</h1>

<div class="row">
    <form method="post" asp-controller="Massage" asp-action="Edit" asp-route-id="@Model.Id">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>